.shopping-cart-container {
  padding: var(--spacing);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  max-width: 600px;
  margin: var(--spacing) auto;
}

.cart-product-list {
  list-style-type: none;
  padding: 0;
}

.cart-product-item {
  padding: var(--spacing-half) 0;
  border-bottom: 1px solid var(--border);
}

.cart-product-item:last-child {
  border-bottom: none;
}

.checkout-button, .go-back-button {
  background-color: var(--primary);
  border: none;
  color: rgb(255, 255, 255);
  padding: var(--spacing-half) var(--spacing);
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: var(--radius);
}

.checkout-button:hover, .go-back-button:hover {
  background-color: var(--primary-dark);
}