.shopping-cart-container {
  position: relative;
  display: inline-block;
}

.shopping-cart-button {
  background-color: var(--primary);
  border: none;
  color: rgb(110, 143, 235);
  padding: 0.5rem 1rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: var(--radius);
}

.shopping-cart-dropdown {
  display: block;
  position: absolute;
  background-color: rgb(64, 63, 68);
  min-width: 400px;
  box-shadow: var(--shadow);
  padding: 1rem;
  z-index: 1;
  border: 1px solid #605de2;
  border-radius: var(--radius);
  top: 40px;
}

.shopping-cart-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #2e7cd6;
}

.cart-product-item:last-child {
  border-bottom: none;
}

.cart-product-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border: 1px solid #307fda;
  border-radius: 5px;
  cursor: pointer;
}

.cart-product-details {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.checkout-button {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--primary);
  color: rgb(15, 123, 224);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

.checkout-button:hover {
  background-color: var(--primary-dark);
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.remove-button:hover {
  background-color: darkred;
}